@media only screen and (max-width: 999999999px) {

#customers, #categories{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 70px;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: orange;
  color: black;
}
 #i{
  margin-left: 72%;
   color: crimson
 }
 #b{
   color: crimson
 }
  .archive {
    margin-left: 20px;
    height: 30px;
    width: 30px;
    color: white;
    cursor: pointer;
    border-radius:100% ;
  }}
.archive:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
  background-color: #d0d8cd;
}
.archive:active {
  position:relative;
  top:1px;
}
.preStyle{
  width: 30px;
}
.list{
  margin-top: 5px;
  margin-right: -20px;
  height: 20px;
  width: 20px;
}

.active {
  margin-left: 20px;
  height: 30px;
  width: 30px;
  color: white;
  cursor: pointer;
  border-radius:100% ;
}
.active:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
  background-color: #d0d8cd;
}
.active:active {
  position:relative;
  top:1px;
}