.regLine {-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:dimgray;
    margin: 30px auto;
}

.regLine:before,
.regLine:after {
    content: '';
    border-top: 2px solid;
    margin: 0 10px 0 10px;
    flex: 1 0 20px;
}
.loginDiv{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: flex;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px auto;
    text-align: center;
    flex-direction: column;
    width: 40vh;
    padding: 10px;
    border-radius: 5px;
    height: 70vh;
}
.loginInput{
    width: 314px;

}
.loginBtn{
    width: 314px;

}