
#in{
    right: 60px;
    top: 80px;
    max-width: 450px;
    min-width: 100px;
    width: 100%;
    -moz-box-shadow: 0px 0px 33px -15px #ffcba3;
    -webkit-box-shadow: 0px 0px 33px -15px #fffbfb;
    box-shadow: 0px 0px 33px -15px #7a5546;
    background-color: rgba(255, 255, 255, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #ff7e37;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    text-align: left;
    position: absolute;
    
}
 

#bu{
    border-color: #fd7e14;
    text-align: center;
    position: absolute;
    top: 80px;
    right: 60px;
    border-radius: 25%;
    height: 25px;
    width: 25px;
    cursor: pointer;
}
#bu:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
