.skillDiv{
    height: fit-content;
    display: flex;
    background-color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px auto;
    margin-top: -20px;
    text-align: center;
    flex-direction: column;
    width: 70vw;
    padding: 10px;
    border-radius: 5px;
    margin-top: 72px;
}
.MuiCollapse-wrapper {
    margin-top: 8px;
    background-color: #e6efe4;
    display: flex;
}
.MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.MuiListItem-root {
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}
.addIcon{
    margin-top: 3px;
    border-width: 2px;
    border-radius: 100%;
    margin-left: 25px;
    height: 27px;
    width: 27px;
    position: relative;
    cursor: pointer;
}
.addIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.addIcon:active {
    position:relative;
    top:1px;
}
.deleteIcon{

    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;

}
.deleteIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(230, 239, 228, 0.15), 0 6px 20px 0 rgba(230, 239, 228, 0);
}
.deleteIcon:active {
    position:relative;
    top:1px;
}
.div1{
    margin-top: 5px;
    display: flex;

}
.div2{
    margin-left: 30px;
    margin-top: 5px;
    display: flex;

}
.ctgInp{
    width: 1500px;
    margin-left: 5px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 10px;
    text-align: left;
    margin-left: 35px;

}
.add{
    margin-left: 65px;
    margin-top: 3px;
    border-width: 2px;
    height: 25px;
    width: 25px;
    position: relative;
    cursor: pointer;
}

.add:active {
    position:relative;
    top:1px;
}
.subInp1{
    width: 100%;
    max-width: 257px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}
.subInp2{

    width: 100%;
    max-width: 257px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}
.subInp3{

    width: 100%;
    max-width: 257px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}

.editIcon{
    margin-right: 7.5px;
    margin-top: 3px;
    border-width: 2px;
    border-radius: 100%;
    margin-left: 13px;
    height: 27.5px;
    width: 27.5px;
    position: relative;
    cursor: pointer;
}
.editIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.editIcon:active {
    position:relative;
    top:1px;
}
.acceptIcon{
    margin-top: 3px;
    border-width: 2px;
    border-radius: 100%;
    height: 19px;
    width: 19px;
    position: relative;
    cursor: pointer;
}
.acceptIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.acceptIcon:active {
    position:relative;
    top:1px;
}
.chackInp1{
    width: 100%;
    max-width: 257px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 14px;

}
.chackInp2{
    width: 100%;
    max-width: 257px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;
    margin-right: 13px;

}
.chackInp3{
    width: 100%;
    max-width: 257px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}

.IconsStyle{
    margin-right: 250px;
}

.ctgInp1{
    width: 100%;
    max-width: 220px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 38px;

}
.ctgInp2{

    width: 100%;
    max-width: 220px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 47px;

}
.ctgInp3{

    width: 100%;
    max-width: 220px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 50px;

}


.logOutIcon{
    margin-top: 3px;
    margin-left: 951px;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
}
.logOutIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #ff8a3d;
}
.logOutIcon:active {
    position:relative;
    top:1px;
}
.ctgchangeInput1{
    width: 100%;
    max-width: 400px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 6px;
    margin-bottom: 10px;

}
.ctgchangeInput2{
    width: 100%;
    max-width: 400px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;

}

.changeIcon{
    border-radius: 25%;
    margin-left: 26px;
    margin-top: 3px;
    height: 25px;
    width: 25px;
    position: relative;
    cursor: pointer;
}
.changeIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.changeIcon:active {
    position:relative;
    top:1px;
}