.skillDiv{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    height: fit-content;
    display: flex;
    background-color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px auto;
    margin-top: -20px;
    text-align: center;
    flex-direction: column;
    width: 70vw;
    padding: 10px;
    border-radius: 5px;
    margin-top: 72px;
}
.MuiCollapse-wrapper {
    margin-top: 8px;
    background-color: #e6efe4;
    display: flex;
}
.MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.MuiListItem-root {-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}
.addIcon{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: 3px;
    border-width: 2px;
    border-radius: 100%;
    margin-left: 13px;
    height: 27px;
    width: 27px;
    position: relative;
    cursor: pointer;
}
.addIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.addIcon:active {
    position:relative;
    top:1px;
}
.deleteIcon{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;

}
.deleteIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(230, 239, 228, 0.15), 0 6px 20px 0 rgba(230, 239, 228, 0);
}
.deleteIcon:active {
    position:relative;
    top:1px;
}
.div1{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: 5px;
    display: flex;

}
.div2{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-left: 30px;
    margin-top: 5px;
    display: flex;

}
.ctgInp{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 1500px;
    margin-left: 5px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 10px;
    text-align: left;
    margin-left: 35px;

}
.add{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: 3px;
    border-width: 2px;
    height: 25px;
    width: 25px;
    position: relative;
    cursor: pointer;
}

.add:active {
    position:relative;
    top:1px;
}
.subInp1{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 100%;
    max-width: 492px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}
.subInp2{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

    width: 100%;
    max-width: 492px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}
.subInp3{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    color: #343434;
    font-family:"Segoe UI";
    font-size:13px;
    text-align: left;
    margin-left: 7px;
    margin-top: 7px;
}.subinp3{-webkit-animation: fadeIn 1s;
     animation: fadeIn 1s;
     margin-left: 13px;
     margin-top: 10px;
     color: #343434;
     font-family:"Segoe UI";
     font-size:13px;
     text-align: left;


 }

.editIcon{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-right: 7.5px;
    margin-top: 3px;
    border-width: 2px;
    border-radius: 100%;
    margin-left: 13px;
    height: 27.5px;
    width: 27.5px;
    position: relative;
    cursor: pointer;
}
.editIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.editIcon:active {
    position:relative;
    top:1px;
}
.acceptIcon{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: 3px;
    border-width: 2px;
    border-radius: 100%;
    height: 19px;
    width: 19px;
    position: relative;
    cursor: pointer;
}
.acceptIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.acceptIcon:active {
    position:relative;
    top:1px;
}
.chackInp1{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 100%;
    max-width: 492px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 14px;

}
.chackInp2{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    color: #343434;
    font-family:"Segoe UI";
    font-size:13px;
    text-align: left;
    margin-left: 10px;
}.chackinp2{-webkit-animation: fadeIn 1s;
     animation: fadeIn 1s;
     margin-left: 14px;
     color: #343434;
    font-family:"Segoe UI";
    font-size:13px;
    text-align: left;


}
.chackInp3{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 100%;
    max-width: 492px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}

.IconsStyle{
    margin-right: 250px;
}

.ctgInp1{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 100%;
    max-width: 492px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;

}
.ctgInp2{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

    width: 100%;
    max-width: 492px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}

.ctgInp3{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: 8.5px;

    color: #343434;
    font-family:"Segoe UI";
    font-size:13px;
    text-align: left;
    margin-left: 12px;

}.ctginp3{-webkit-animation: fadeIn 1s;
     animation: fadeIn 1s;
    margin-top: 5px;
     margin-left: 5px;
     margin-right: 15px;
     color: #343434;
     font-family:"Segoe UI";
     font-size:13px;
     text-align: left;


 }

.logOutIcon{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    position: absolute;
    top: 20px;
    right:20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
 }
 .logOutIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #ff8a3d;

}
.logOutIcon:active {
    top: 21px;
    right:20px;
    position:absolute;
}

.ctgchangeInput1{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 100%;
    max-width: 492px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 8px;
}
.ctgchangeInput3{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    width: 100%;
    max-width: 492px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color: #343434;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-bottom: 8px;

    margin-left: 30px;
}

.ctgchangeInput2{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    color: #343434;
    font-family:"Segoe UI";
    font-size:13px;
    text-align: left;
    margin-left: 12px;

}.ctgchangeinput2{-webkit-animation: fadeIn 1s;
     animation: fadeIn 1s;
     margin-left: 2px;
    margin-right: 15px;
     color: #343434;
     font-family:"Segoe UI";
     font-size:13px;
     text-align: left;


 }


.changeIcon{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    border-radius: 25%;
    margin-top: 3px;
    height: 25px;
    width: 25px;
    position: relative;
    cursor: pointer;
}
.changeIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.changeIcon:active {
    position:relative;
    top:1px;
}

.popup {-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top: -3px;
    margin-left: 5px;
    position: inherit;
    display: inline-block;
    cursor: auto;
}

/* The actual popup (appears on top) */
.popuptext {
    border-color: #ffa859;
    border-style: solid;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    overflow-y: scroll;
    height: 550px;
    width: 100%;
    max-width: 1000px;
    border-radius:1%;
    position: fixed;
    top: 15%;
    left: 315px;
    background-color: #3a3c3c;
    color: white;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.61);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(128, 128, 128);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff7e37;
}


/* Popup arrow */
.popup .popuptext::after {-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.clouseIcon{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    right: 70px;
    z-index: 2;
    border-radius: 25%;
    margin-top: 10px;
    height: 25px;
    width: 25px;
    position: fixed;
    cursor: pointer;
}
.clouseIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
}
.clouseIcon:active {
    position:fixed;
}
.iconslistIcon{
    background-color: rgba(255, 185, 96, 0.44);
    font-family:"Segoe UI";
    margin-top: 10px;
    height: 35px;
    width: 100%;
    max-width: 930px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}
.iconslistIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: rgba(142, 142, 142, 0.44);
}
.iconslistIcon:active {
    position:relative;
    top:1px;
}
