.skillDiv{
    height: fit-content;
    display: flex;
    background-color: orange;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px auto;
    margin-top: -20px;
    text-align: center;
    flex-direction: column;
    width: 50vh;
    padding: 10px;
    border-radius: 5px;
    margin-top: 72px;
}
.MuiCollapse-wrapper {
    margin-top: 8px;
    background-color: #e6efe4;
    display: flex;
}
.MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 16px;
}

.MuiListItem-root {
    width: 100%;
    background-color: white;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}
.addIcon{
    margin-top: 3px;
    border-width: 2px;
    border-radius: 100%;
    margin-left: 13px;
    height: 25px;
    width: 25px;
    position: relative;
    cursor: pointer;
}
.addIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.addIcon:active {
    position:relative;
    top:1px;
}
.deleteIcon{

    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;

}
.deleteIcon:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    background-color: #c1cbbe;
}
.deleteIcon:active {
    position:relative;
    top:1px;
}
.div1{
    margin-top: 5px;
    display: flex;

}
.div2{
    margin-left: 30px;
    margin-top: 5px;
    display: flex;

}
.subInp{

    margin-left: 5px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 10px;
    text-align: left;
    margin-left: 35px;

}
.add{ margin-top: 3px;
    border-width: 2px;
    height: 25px;
    width: 25px;
    position: relative;
    cursor: pointer;
}

.add:active {
    position:relative;
    top:1px;
}
.ctgInp{

    margin-left: 5px;
    -moz-box-shadow: 0px 0px 33px -15px #747a72;
    -webkit-box-shadow: 0px 0px 33px -15px #acb3aa;
    box-shadow: 0px 0px 33px -15px #747a72;
    background-color: rgba(188, 188, 188, 0.69);
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:3px solid #acb3aa;
    color:#ffffff;
    font-family:"Segoe UI";
    font-size:12px;
    padding:5px 30px;
    text-align: left;
    margin-left: 30px;

}

