
@media only screen and (max-width: 999999999px) {
#d1{  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
   color: white;
left: 20%;
display: block;
position: absolute;
background:#F5B041   url(../images/statics/revenue-goes-up-integrity.png) no-repeat;  
background-position: 222px;
top: 150px;
background-size:20%;
width: 300px;
height: 150px;
border-radius: 10px;
padding:20px;

}

h2{-webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
    text-align: left;
    top: 80px;
    /* position: absolute;    */
    font-size: 70px!important;
    
  }

  h1.title{-webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    margin-top:40px
  }

  #d2{  -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    color: white;
    left: 45%;
    display: block;
    position: absolute;
    padding:20px;
    background: #85929E   url(../images/statics/archive.png) no-repeat;  
    background-position: 205px;
    top: 150px;
    background-size:25%;
    width: 300px;
    height: 150px;
    border-radius: 10px;

  }

  #d3{
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    color: white;
    left: 70%;
    display: block;
    position: absolute;
      background: rgb(223, 31, 31) url(../images/statics/subscribe.png) no-repeat;  
    background-position: 222px;
    top: 150px;
    background-size:20%;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    padding:20px;

  }
}